Aust/app/layout/build/call.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charst="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nanoscroller.css">
    <link rel="stylesheet" href="img/sprite.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <header id="top" class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top_menu-nav-mobile">
            <div class="nav-mobile"></div>
          </div>
          <div class="header-top_menu-nav"><a href="/" class="menu-nav_item">О компании</a><a href="/" class="menu-nav_item">Наши клиники</a><a href="/" class="menu-nav_item">Как происходит лечение</a><a href="/" class="menu-nav_item">Новости</a><a href="/" class="menu-nav_item">Контакты</a>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container"><a href="/" class="logo"><img src="img/logo.png"></a>
          <div class="header-middle_number">+7 (967) 234 32 17</div><a href="" data-popup-open="#popup-callback" class="callback button">
            <div class="icon-phone"></div><span>Обратный звонок</span></a>
          <div class="lang-switch">
            <div class="lang-switch_main"><span class="icon-lang-rus"></span><span class="lang-switch_text">Русский</span>
              <div class="icon-arrow-down"></div>
            </div>
            <div class="lang-switch_dropdown"><a href="href" class="dropdown-item"><span class="icon-lang-rus"></span><span class="lang-switch_text">Русский</span></a></div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom_nav"><a href="/" class="nav-item">Диагностика</a><a href="/" class="nav-item">Лечение</a><a href="/" class="nav-item">Косметические процедуры</a><a href="/" class="nav-item">Детокс</a><a href="/" class="nav-item">Курортные предложения</a>
          </div><a href="href" class="button button-border">Отправить запрос на лечение</a>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="container">
        <div class="bc-wrap">
          <ul class="bc">
            <li class="bc-item"><a href="/">Главная</a></li>
            <li class="bc-item">Лечение суставов</li>
          </ul>
        </div>
        <section class="section">
          <div class="call-box">
            <form>
              <div class="call-box_left">
                <h1>Отправить запрос на лечение</h1>
                <div class="form-box">
                  <div class="input-line input-inline">
                    <label>Ваше имя и фамилия</label><span class="input">
                      <input type="text"></span>
                  </div>
                  <div class="input-line input-inline">
                    <label>E-mail</label><span class="input">
                      <input type="email"></span>
                  </div>
                  <div class="input-line input-inline">
                    <label>Номер телефона</label><span class="input">
                      <input type="text"></span>
                  </div>
                  <div class="input-line input-inline">
                    <label>Дата рождения</label><span class="input">
                      <input type="text"></span>
                  </div>
                </div>
              </div>
              <div class="call-box_right">
                <h1>Медицинские данные</h1>
                <div class="form-box">
                  <div class="input-line input-textarea">
                    <label>Причина обращения</label><span class="input">
                      <textarea></textarea></span>
                  </div>
                  <div class="input-line input-textarea">
                    <label>Дополнительная информация</label><span class="input">
                      <textarea></textarea></span>
                  </div>
                </div>
              </div>
              <input type="submit" value="Отправить" class="button">
            </form>
          </div>
          <div class="record-box">
            <h1> Запишитесь на лечение в нашу клинику</h1><a href="/" class="button">Отправить запрос на лечение</a>
          </div>
          <div class="article-box">
            <div class="article-box_head">
              <h1>Новости</h1><a href="/" class="link">Читать все новости</a>
            </div>
            <div class="article-box_content">
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-1.jpg"/></div>
                  <div class="item-head_data">14 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Открытие новой клиники в Вене</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-2.jpg"/></div>
                  <div class="item-head_data">22 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Мы осущетсвляем полное обследование</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-3.jpg"/></div>
                  <div class="item-head_data">13 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Новые технологии лечения рака</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-4.jpg"/></div>
                  <div class="item-head_data">31 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Мы лечим бесплодие за 2 месяца</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container"><a href="#top" id="menu" class="anchor">
            <div class="icon-anchor"></div></a>
          <div class="footer-top_nav"><a href="/" class="nav-item">Диагностика</a><a href="/" class="nav-item">Лечение</a><a href="/" class="nav-item">Косметические процедуры</a><a href="/" class="nav-item">Детокс</a><a href="/" class="nav-item">Курортные предложения</a>
          </div><a href="href" class="button button-border">Отправить запрос на лечение</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="copyright">2016 © Медицина в Австрии. Разработка сайта - Mindthedigital.com</div>
          <div class="footer-bottom_menu-nav"><a href="/" class="menu-nav_item">О компании</a><a href="/" class="menu-nav_item">Наши клиники</a><a href="/" class="menu-nav_item">Как происходит лечение</a><a href="/" class="menu-nav_item">Новости</a><a href="/" class="menu-nav_item">Контакты</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/jquery.nanoscroller.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h1>Закажите <br/> обратный звонок</h1>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <label for="rd-1">Сегодня</label>
                <input type="radio" name="rd-1" id="rd-1"></span><span class="radio">
                <label for="rd-2">Завтра</label>
                <input type="radio" name="rd-1" id="rd-2"></span><span class="select">
                <div class="icon-arrow-down"></div>
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks" class="popup-item">
        <div class="popup-heading">
          <h1>Спасибо <br/> за Ваше обращение</h1>
        </div>
        <div class="popup-content"><span class="thanks-text">Мы свяжемся с Вами завтра<br/> в 13:00 по телефону +7 (495) 334 33 22</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>

Aust/app/layout/src/jade/src/call.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Лечение суставов
            section.section
                .call-box
                    form
                        .call-box_left
                            h1 Отправить запрос на лечение
                            .form-box
                                .input-line.input-inline
                                    label Ваше имя и фамилия
                                    span.input
                                        input(type="text")
                                .input-line.input-inline
                                    label E-mail
                                    span.input
                                        input(type="email")
                                .input-line.input-inline
                                    label Номер телефона
                                    span.input
                                        input(type="text")
                                .input-line.input-inline
                                    label Дата рождения
                                    span.input
                                        input(type="text")
                        .call-box_right
                            h1 Медицинские данные
                            .form-box
                                .input-line.input-textarea
                                    label Причина обращения
                                    span.input
                                        textarea
                                .input-line.input-textarea
                                    label Дополнительная информация
                                    span.input
                                        textarea
                        input(type="submit" value="Отправить").button
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_head
                        h1 Новости
                        a(href="/").link Читать все новости
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
