Aust/app/layout/build/card.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charst="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/nanoscroller.css">
    <link rel="stylesheet" href="img/sprite.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <header id="top" class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-top_menu-nav-mobile">
            <div class="nav-mobile"></div>
          </div>
          <div class="header-top_menu-nav"><a href="/" class="menu-nav_item">О компании</a><a href="/" class="menu-nav_item">Наши клиники</a><a href="/" class="menu-nav_item">Как происходит лечение</a><a href="/" class="menu-nav_item">Новости</a><a href="/" class="menu-nav_item">Контакты</a>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container"><a href="/" class="logo"><img src="img/logo.png"></a>
          <div class="header-middle_number">+7 (967) 234 32 17</div><a href="" data-popup-open="#popup-callback" class="callback button">
            <div class="icon-phone"></div><span>Обратный звонок</span></a>
          <div class="lang-switch">
            <div class="lang-switch_main"><span class="icon-lang-rus"></span><span class="lang-switch_text">Русский</span>
              <div class="icon-arrow-down"></div>
            </div>
            <div class="lang-switch_dropdown"><a href="href" class="dropdown-item"><span class="icon-lang-rus"></span><span class="lang-switch_text">Русский</span></a></div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <div class="header-bottom_nav"><a href="/" class="nav-item">Диагностика</a><a href="/" class="nav-item">Лечение</a><a href="/" class="nav-item">Косметические процедуры</a><a href="/" class="nav-item">Детокс</a><a href="/" class="nav-item">Курортные предложения</a>
          </div><a href="href" class="button button-border">Отправить запрос на лечение</a>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="container">
        <div class="bc-wrap">
          <ul class="bc">
            <li class="bc-item"><a href="/">Главная</a></li>
            <li class="bc-item">Карточка клиник</li>
          </ul>
        </div>
        <section class="section">
          <div class="card-box">
            <div class="slider-box-wrap">
              <div class="slider-box">
                <div class="slider-box_item"><img src="img/content/sl-1.jpg"></div>
                <div class="slider-box_item"><img src="img/content/sl-2.jpg"></div>
                <div class="slider-box_item"><img src="img/content/sl-1.jpg"></div>
                <div class="slider-box_item"><img src="img/content/sl-2.jpg"></div>
              </div>
              <div class="slider-pager"><a href="" data-slide-index="0" class="slider-pager_item"><img src="img/content/slp-1.jpg"></a><a href="" data-slide-index="1" class="slider-pager_item"><img src="img/content/slp-2.jpg"></a><a href="" data-slide-index="2" class="slider-pager_item"><img src="img/content/slp-3.jpg"></a><a href="" data-slide-index="3" class="slider-pager_item"><img src="img/content/slp-4.jpg"></a></div>
            </div>
            <div class="card-box_content">
              <h1>Medicom - inteligance</h1>
              <h4>Центр онкологической медицины</h4>
              <div class="card-box_text">
                <p>В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.</p>
                <p>В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.</p><a href="" class="button">Отправить запрос на лечение</a>
              </div>
            </div>
          </div>
          <div class="contact-box">
            <div class="contact-box_left">
              <div class="contact-box_head">
                <h1>Расположение <br/> клиники</h1>
              </div>
              <div class="contact-box_adress">
                <div class="adress_phone">
                  <h3>8 800 678 54 34</h3>
                </div>
                <div class="adress_timetable">Пн – Вс с 9:00 до 21:00﻿</div>
                <div class="adress_text">Моя клиника на ст.м. Осокорки<br/> ул. Княжий Затон, 21, оф. 2</div>
              </div>
            </div>
            <div class="map">
              <div id="map"></div>
              <script>
                function initMap() {
                    var myLatLng = {lat: 50.503719, lng: 30.460621};
                    var myLatLng2 = {lat: 50.503719, lng: 30.460621};
                    // Create a map object and specify the DOM element for display.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatLng,
                        scrollwheel: false,
                        zoom: 25
                                            });
                    // marker icon
                        var markerImage = new google.maps.MarkerImage(
                                'img/marker-map.png',
                                new google.maps.Size(35,46),
                                new google.maps.Point(0,0),
                                new google.maps.Point(15,46)
                        );
                    // Create a marker and set its position.
                    var marker = new google.maps.Marker({
                        icon: markerImage,
                        map: map,
                        position: myLatLng,
                        title: 'Aust'
                    });
                    var marker = new google.maps.Marker({
                        //icon: ,
                        map: map,
                        position: myLatLng,
                        title: 'Aust'
                    });
                    <!-- var styles = [ -->
                    <!-- { -->
                    <!-- stylers: [ -->
                    <!-- { saturation: -100 } -->
                    <!-- ] -->
                    <!-- } -->
                    <!-- ]; -->
                    <!-- map.setOptions({styles: styles}); -->
                    }
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB8Q-BTwRlGFacbDbCimJFlEvaNflvLko&amp;callback=initMap" async defer></script>
            </div>
          </div>
          <div class="description-box">
            <h1>Описание клиники</h1>
            <p>В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.</p>
            <p>Сеть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки.<br/> Моя клиника является современным поликлиническим комплексом, в котором пациенты получают качественную медпомощь от врачей общих и узких специальностей.</p>
          </div>
          <div class="record-box">
            <h1> Запишитесь на лечение в нашу клинику</h1><a href="/" class="button">Отправить запрос на лечение</a>
          </div>
          <div class="article-box">
            <div class="article-box_content">
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-1.jpg"/></div>
                  <div class="item-head_data">14 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Открытие новой клиники в Вене</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-2.jpg"/></div>
                  <div class="item-head_data">22 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Мы осущетсвляем полное обследование</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-3.jpg"/></div>
                  <div class="item-head_data">13 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Новые технологии лечения рака</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="item-head">
                  <div class="item-head_img"><img src="img/content/ai-4.jpg"/></div>
                  <div class="item-head_data">31 декабря</div>
                </div>
                <div class="item-content"><a href="/" class="item-content_head">Мы лечим бесплодие за 2 месяца</a>
                  <div class="item-content_text">Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. </div>
                  <div class="item-content_comment">
                    <div class="icon-wrap icon-comments"></div>
                    <div class="comment-count">223</div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-top">
        <div class="container"><a href="#top" id="menu" class="anchor">
            <div class="icon-anchor"></div></a>
          <div class="footer-top_nav"><a href="/" class="nav-item">Диагностика</a><a href="/" class="nav-item">Лечение</a><a href="/" class="nav-item">Косметические процедуры</a><a href="/" class="nav-item">Детокс</a><a href="/" class="nav-item">Курортные предложения</a>
          </div><a href="href" class="button button-border">Отправить запрос на лечение</a>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="copyright">2016 © Медицина в Австрии. Разработка сайта - Mindthedigital.com</div>
          <div class="footer-bottom_menu-nav"><a href="/" class="menu-nav_item">О компании</a><a href="/" class="menu-nav_item">Наши клиники</a><a href="/" class="menu-nav_item">Как происходит лечение</a><a href="/" class="menu-nav_item">Новости</a><a href="/" class="menu-nav_item">Контакты</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/jquery.nanoscroller.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h1>Закажите <br/> обратный звонок</h1>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <label for="rd-1">Сегодня</label>
                <input type="radio" name="rd-1" id="rd-1"></span><span class="radio">
                <label for="rd-2">Завтра</label>
                <input type="radio" name="rd-1" id="rd-2"></span><span class="select">
                <div class="icon-arrow-down"></div>
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks" class="popup-item">
        <div class="popup-heading">
          <h1>Спасибо <br/> за Ваше обращение</h1>
        </div>
        <div class="popup-content"><span class="thanks-text">Мы свяжемся с Вами завтра<br/> в 13:00 по телефону +7 (495) 334 33 22</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>

Aust/app/layout/src/jade/src/card.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item Карточка клиник
            section.section
                .card-box
                    .slider-box-wrap
                        .slider-box
                            .slider-box_item
                                img(src="img/content/sl-1.jpg")
                            .slider-box_item
                                img(src="img/content/sl-2.jpg")
                            .slider-box_item
                                img(src="img/content/sl-1.jpg")
                            .slider-box_item
                                img(src="img/content/sl-2.jpg")
                        .slider-pager
                            a(href="" data-slide-index="0").slider-pager_item
                                img(src="img/content/slp-1.jpg")
                            a(href="" data-slide-index="1").slider-pager_item
                                img(src="img/content/slp-2.jpg")
                            a(href="" data-slide-index="2").slider-pager_item
                                img(src="img/content/slp-3.jpg")
                            a(href="" data-slide-index="3").slider-pager_item
                                img(src="img/content/slp-4.jpg")
                    .card-box_content
                        h1 Medicom - inteligance
                        h4 Центр онкологической медицины
                        .card-box_text
                            p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                            p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                            a(href="").button Отправить запрос на лечение
                .contact-box
                    .contact-box_left
                        .contact-box_head
                            h1 Расположение <br/> клиники
                        .contact-box_adress
                            .adress_phone
                                h3 8 800 678 54 34
                            .adress_timetable Пн – Вс с 9:00 до 21:00﻿
                            .adress_text Моя клиника на ст.м. Осокорки<br/> ул. Княжий Затон, 21, оф. 2
                    .map
                        #map
                        script.
                            function initMap() {
                                var myLatLng = {lat: 50.503719, lng: 30.460621};
                                var myLatLng2 = {lat: 50.503719, lng: 30.460621};
                                // Create a map object and specify the DOM element for display.
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    center: myLatLng,
                                    scrollwheel: false,
                                    zoom: 25
                                                        });
                                // marker icon
                                    var markerImage = new google.maps.MarkerImage(
                                            'img/marker-map.png',
                                            new google.maps.Size(35,46),
                                            new google.maps.Point(0,0),
                                            new google.maps.Point(15,46)
                                    );
                                // Create a marker and set its position.
                                var marker = new google.maps.Marker({
                                    icon: markerImage,
                                    map: map,
                                    position: myLatLng,
                                    title: 'Aust'
                                });
                                var marker = new google.maps.Marker({
                                    //icon: ,
                                    map: map,
                                    position: myLatLng,
                                    title: 'Aust'
                                });
                                <!-- var styles = [ -->
                                <!-- { -->
                                <!-- stylers: [ -->
                                <!-- { saturation: -100 } -->
                                <!-- ] -->
                                <!-- } -->
                                <!-- ]; -->
                                <!-- map.setOptions({styles: styles}); -->
                                }
                        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDB8Q-BTwRlGFacbDbCimJFlEvaNflvLko&callback=initMap" async defer)
                .description-box
                    h1 Описание клиники
                    p В сети поликлинических центров Моя клиника предоставляют медуслуги, направленные на всестороннюю терапию болезней внутренних органов. Диагностирование заболеваний в Моей клинике выполняется путем проведения ультразвуковых исследований, дуплексного сканирования, фолликулометрии, электрокардиографии, колоноскопии. В лечении врачи Моей клиники используют методики медикаментозной, физиотерапевтической терапии.
                    p Сеть медицинских центров Моя клиника представлена в Киеве двумя филиалами: Поликлиникой на Привокзальной и Моей клиникой на ст.м. Осокорки.<br/> Моя клиника является современным поликлиническим комплексом, в котором пациенты получают качественную медпомощь от врачей общих и узких специальностей.
                .record-box
                    h1  Запишитесь на лечение в нашу клинику
                    a(href="/").button Отправить запрос на лечение
                .article-box
                    .article-box_content
                        +article-box_item(
                        'ai-1.jpg',
                        '14 декабря',
                        'Открытие новой клиники в Вене',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-2.jpg',
                        '22 декабря',
                        'Мы осущетсвляем полное обследование',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-3.jpg',
                        '13 декабря',
                        'Новые технологии лечения рака',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
                        +article-box_item(
                        'ai-4.jpg',
                        '31 декабря',
                        'Мы лечим бесплодие за 2 месяца',
                        'Austria Med home - онлайн-портал, на котором представлены фвысококвалифицированные врачи и специализириованные клиники. '
                        )
