Imp/layout/build/basket.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ImperiaDoors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/sprite.css">
    <!--meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")-->
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="container header-top_box">
          <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
          <div class="schedule">
            <div class="schedule_icon">
              <div class="icon-clock"></div>
            </div>
            <div class="schedule_text">Пн-Вс с 9:00 до 21:00,доставка без выходных</div>
          </div>
          <div class="search">
            <div class="search_input">
              <input type="text" placeholder="Поиск по сайту">
            </div>
            <div class="search_icon">
              <div class="icon-search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container header-middle_box"><a href="" class="logo"><img alt="" src="img/logo.png"></a>
          <div class="header-callback">
            <div class="header-callback_number">+7 (499) 281 63 21</div>
            <div class="header-callback_text">Москва, 41 км МКАД, <br/> рынок Мельница</div>
            <div data-popup-open="#popup-callback" class="callback button">
              <div class="callback_icon">
                <div class="icon-phone"></div>
              </div>
              <div class="callback_text">Обратный звонок</div>
            </div><a data-popup-open="#popup-size" class="button button-yellow">Бесплатный вызов замерщика</a>
          </div>
          <div class="header-info">
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-1"></div>
              </div>
              <div class="header-info_text">Свободная <br/> парковка</div>
            </div>
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-2"></div>
              </div>
              <div class="header-info_text">Лучшая выставка всех <br/> брендов <strong>1500 образцов</strong></div>
            </div>
          </div><a href="" class="card">
            <div class="card_icon">
              <div class="icon-card"></div>
            </div>
            <div class="card_content">
              <div class="card_head">Ваша<br/> корзина</div>
              <div class="card_count">3 товара</div>
              <div class="card_summ">на сумму 5000 р</div>
            </div></a>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container header-bottom_box">
          <div class="second-nav">
            <div class="second-nav_box"><a href="" class="second-nav_item">Входные двери</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Металические <br/>двери</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Двери с художественной <br/> ковкой</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Декоративные панели <br/> для в ходных дверей</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Межкомнатные двери</a></div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Фурнитура</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные ручки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные замки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные петли</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Строительные двери</a></div>
          </div>
          <div class="brand-select">
            <div class="brand-select_item">
              <div class="brand-select_text">Производители</div>
              <div class="brand-select_img"></div>
            </div>
            <div class="brand-select_icon">
              <div class="icon-arrow-down"></div>
            </div>
            <div class="brand-select_dropdown"><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a></div>
          </div>
          <div class="button button-special">спецпредложениЯ</div>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <div class="container">
          <div class="bc-wrap">
            <ul class="bc">
              <li class="bc-item"><a href="/">Главная</a></li>
              <li class="bc-item"><a href="/">Каталог</a></li>
              <li class="bc-item"><a href="/">Съемочная техника</a></li>
              <li class="bc-item">Цифровые фотоапараты</li>
            </ul>
          </div>
        </div>
        <section class="section">
          <div class="container">
            <h2>корзина товаров</h2>
            <div class="basket-box">
              <div class="basket-box_head">
                <div class="basket-box_head-item img">Фото</div>
                <div class="basket-box_head-item title">Наименование</div>
                <div class="basket-box_head-item count">Кол-во</div>
                <div class="basket-box_head-item price">Цена</div>
                <div class="basket-box_head-item summ">Сумма</div>
                <div class="basket-box_head-item delete">Удалить</div>
              </div>
              <div class="basket-box_content">
                <div class="basket-box_item">
                  <div class="basket-box_img"><img src="img/content/basket-1.jpg">
                    <div class="special"><span>ХИТ</span></div>
                  </div>
                  <div class="basket-box_title">
                    <div class="basket-box_title-name">Дверь металлическая</div>
                    <div class="basket-box_title-type">Венеция</div>
                  </div>
                  <div data-count-item class="basket-box_count">
                    <div data-count-control="-1" class="basket-box_count-down">
                      <div class="icon-arrow-down"></div>
                    </div>
                    <input type="text" value="1" data-count-target>
                    <div data-count-control="+1" class="basket-box_count-up">
                      <div class="icon-arrow-up"></div>
                    </div>
                  </div>
                  <div class="basket-box_price">25 000 руб</div>
                  <div class="basket-box_summ">
                    <div data-count-val="25000" class="basket-box_summ-val"></div>
                    <div class="basket-box_summ-currency">&nbsp;руб</div>
                  </div>
                  <div class="basket-box_delete">
                    <div class="basket-box_delete-icon">
                      <div class="icon-close"></div>
                    </div>
                    <div class="basket-box_delete-text">Удалить из корзины</div>
                  </div>
                </div>
                <div class="basket-box_item">
                  <div class="basket-box_img"><img src="img/content/basket-1.jpg">
                    <div class="special"><span>ХИТ</span></div>
                  </div>
                  <div class="basket-box_title">
                    <div class="basket-box_title-name">Дверь металлическая</div>
                    <div class="basket-box_title-type">Венеция</div>
                  </div>
                  <div data-count-item class="basket-box_count">
                    <div data-count-control="-1" class="basket-box_count-down">
                      <div class="icon-arrow-down"></div>
                    </div>
                    <input type="text" value="1" data-count-target>
                    <div data-count-control="+1" class="basket-box_count-up">
                      <div class="icon-arrow-up"></div>
                    </div>
                  </div>
                  <div class="basket-box_price">25 000 руб</div>
                  <div class="basket-box_summ">
                    <div data-count-val="25000" class="basket-box_summ-val"></div>
                    <div class="basket-box_summ-currency">&nbsp;руб</div>
                  </div>
                  <div class="basket-box_delete">
                    <div class="basket-box_delete-icon">
                      <div class="icon-close"></div>
                    </div>
                    <div class="basket-box_delete-text">Удалить из корзины</div>
                  </div>
                </div>
                <div class="basket-box_item">
                  <div class="basket-box_img"><img src="img/content/basket-1.jpg">
                    <div class="special"><span>ХИТ</span></div>
                  </div>
                  <div class="basket-box_title">
                    <div class="basket-box_title-name">Дверь металлическая</div>
                    <div class="basket-box_title-type">Венеция</div>
                  </div>
                  <div data-count-item class="basket-box_count">
                    <div data-count-control="-1" class="basket-box_count-down">
                      <div class="icon-arrow-down"></div>
                    </div>
                    <input type="text" value="1" data-count-target>
                    <div data-count-control="+1" class="basket-box_count-up">
                      <div class="icon-arrow-up"></div>
                    </div>
                  </div>
                  <div class="basket-box_price">25 000 руб</div>
                  <div class="basket-box_summ">
                    <div data-count-val="25000" class="basket-box_summ-val"></div>
                    <div class="basket-box_summ-currency">&nbsp;руб</div>
                  </div>
                  <div class="basket-box_delete">
                    <div class="basket-box_delete-icon">
                      <div class="icon-close"></div>
                    </div>
                    <div class="basket-box_delete-text">Удалить из корзины</div>
                  </div>
                </div>
              </div>
              <div class="basket-box_total"><span class="basket-box_total-text">Итого : &nbsp;</span><span data-count-summ class="basket-box_total-val">25 000</span><span class="basket-box_total-currency">&nbsp;руб</span></div>
              <div class="basket-box_form">
                <form>
                  <h2>контактные данные</h2>
                  <div class="input-inline">
                    <label>Ваше имя</label><span class="input">
                      <input type="text"></span>
                  </div>
                  <div class="input-inline">
                    <label>Номер телефона</label><span class="input">
                      <input type="text"></span>
                  </div>
                  <div class="input-inline">
                    <label>E-mail</label><span class="input">
                      <input type="email"></span>
                  </div>
                  <h2>способ доставки</h2>
                  <div class="input-radio"><span class="radio">
                      <input type="radio" name="radio" id="rd-1">
                      <label for="rd-1">Самовывоз из нашего магазина</label></span><span class="select">
                      <select>
                        <option>12:00</option>
                        <option>11:00</option>
                        <option>09:00</option>
                      </select><span class="icon-arrow-down"></span></span><a href="" class="link link-small">Посмотреть адреса магазинов</a></div>
                  <div class="input-radio"><span class="radio">
                      <input type="radio" name="radio" id="rd-2">
                      <label for="rd-2">Доставка курьером по адресу</label></span></div>
                  <div class="input-inline">
                    <label>Город</label><span class="input">
                      <input type="text"></span>
                  </div>
                  <div class="input-inline">
                    <label>Улица</label><span class="input">
                      <input type="text"></span>
                  </div>
                  <div class="input-inline input-multi">
                    <div class="input-multi_item">
                      <label>Дом</label><span class="input">
                        <input type="text"></span>
                    </div>
                    <div class="input-multi_item">
                      <label>Строение/корпус</label><span class="input">
                        <input type="text"></span>
                    </div>
                  </div>
                  <div class="input-inline input-multi">
                    <div class="input-multi_item">
                      <label>Подъезд</label><span class="input">
                        <input type="text"></span>
                    </div>
                    <div class="input-multi_item">
                      <label>Этаж</label><span class="input">
                        <input type="text"></span>
                    </div>
                  </div>
                  <div class="input-inline input-multi">
                    <div class="input-multi_item">
                      <label>Квартира</label><span class="input">
                        <input type="text"></span>
                    </div>
                    <div class="input-multi_item">
                      <label>Домофон</label><span class="input">
                        <input type="text"></span>
                    </div>
                  </div>
                  <div class="input-inline input-textarea">
                    <label>Комментарии</label><span class="input">
                      <textarea type="text"></textarea></span>
                  </div>
                  <div class="input-inline input-checkbox">
                    <input type="checkbox" id="cb-1">
                    <label for="cb-1">Нужна установка</label>
                  </div>
                  <div class="input-inline input-submit">
                    <div class="input">
                      <input type="submit" value="Оформить заказ" class="button">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container footer_box">
        <div class="copyright">
          <p>2016 © Интернет магазин “Империя дверей”</p>
        </div>
        <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h3>обраТный звонок</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <input type="radio" name="radio" id="rd-1">
                <label for="rd-1">Сегодня</label></span><span class="radio">
                <input type="radio" name="radio" id="rd-2">
                <label for="rd-2">Завтра</label></span><span class="select">
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select><span class="icon-arrow-down"></span></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-size" class="popup-item">
        <div class="popup-heading">
          <h3>закажите бесплтаный замер</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div>
            <div class="input-line"><span class="input">
                <input type="email" placeholder="E-mail"></span></div>
            <div class="input-line"><span class="input">
                <textarea placeholder="Адрес" class="adress-input"></textarea></span></div>
            <div class="input-line"><span class="textarea">
                <textarea placeholder="Комментарий"></textarea></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-callback" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вами завтра в 13:00 по телефону</span>
          <div class="popup-number">8 800 345 33 55</div>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-size" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вамипо телефону, чтобы<br/> согласовать удобное время для визита замерщика</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>

Imp/layout/src/jade/src/basket.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Цифровые фотоапараты
        section.section
            .container
                h2 корзина товаров
                .basket-box
                    .basket-box_head
                        .basket-box_head-item.img Фото
                        .basket-box_head-item.title Наименование
                        .basket-box_head-item.count Кол-во
                        .basket-box_head-item.price Цена
                        .basket-box_head-item.summ Сумма
                        .basket-box_head-item.delete Удалить
                    .basket-box_content
                        .basket-box_item
                            .basket-box_img
                                img(src="img/content/basket-1.jpg")
                                .special
                                    span ХИТ
                            .basket-box_title
                                .basket-box_title-name Дверь металлическая
                                .basket-box_title-type Венеция
                            .basket-box_count(data-count-item)
                                .basket-box_count-down(data-count-control="-1")
                                    .icon-arrow-down
                                input(type="text" value="1" data-count-target)
                                .basket-box_count-up(data-count-control="+1")
                                    .icon-arrow-up
                            .basket-box_price 25 000 руб
                            .basket-box_summ
                                .basket-box_summ-val(data-count-val="25000")
                                .basket-box_summ-currency &nbsp;руб
                            .basket-box_delete
                                .basket-box_delete-icon
                                    .icon-close
                                .basket-box_delete-text Удалить из корзины
                        .basket-box_item
                            .basket-box_img
                                img(src="img/content/basket-1.jpg")
                                .special
                                    span ХИТ
                            .basket-box_title
                                .basket-box_title-name Дверь металлическая
                                .basket-box_title-type Венеция
                            .basket-box_count(data-count-item)
                                .basket-box_count-down(data-count-control="-1")
                                    .icon-arrow-down
                                input(type="text" value="1" data-count-target)
                                .basket-box_count-up(data-count-control="+1")
                                    .icon-arrow-up
                            .basket-box_price 25 000 руб
                            .basket-box_summ
                                .basket-box_summ-val(data-count-val="25000")
                                .basket-box_summ-currency &nbsp;руб
                            .basket-box_delete
                                .basket-box_delete-icon
                                    .icon-close
                                .basket-box_delete-text Удалить из корзины
                        .basket-box_item
                            .basket-box_img
                                img(src="img/content/basket-1.jpg")
                                .special
                                    span ХИТ
                            .basket-box_title
                                .basket-box_title-name Дверь металлическая
                                .basket-box_title-type Венеция
                            .basket-box_count(data-count-item)
                                .basket-box_count-down(data-count-control="-1")
                                    .icon-arrow-down
                                input(type="text" value="1" data-count-target)
                                .basket-box_count-up(data-count-control="+1")
                                    .icon-arrow-up
                            .basket-box_price 25 000 руб
                            .basket-box_summ
                                .basket-box_summ-val(data-count-val="25000")
                                .basket-box_summ-currency &nbsp;руб
                            .basket-box_delete
                                .basket-box_delete-icon
                                    .icon-close
                                .basket-box_delete-text Удалить из корзины
                    .basket-box_total
                        span.basket-box_total-text Итого : &nbsp;
                        span.basket-box_total-val(data-count-summ) 25 000
                        span.basket-box_total-currency &nbsp;руб

                    .basket-box_form
                        form
                            h2 контактные данные
                            .input-inline
                                label Ваше имя
                                span.input
                                    input(type="text")
                            .input-inline
                                label Номер телефона
                                span.input
                                    input(type="text")
                            .input-inline
                                label E-mail
                                span.input
                                    input(type="email")
                            h2 способ доставки
                            .input-radio
                                span.radio
                                    input(type="radio" name="radio" id="rd-1")
                                    label(for="rd-1") Самовывоз из нашего магазина
                                span.select
                                    select
                                        option 12:00
                                        option 11:00
                                        option 09:00
                                    span.icon-arrow-down
                                a.link.link-small(href="") Посмотреть адреса магазинов
                            .input-radio
                                span.radio
                                    input(type="radio" name="radio" id="rd-2" )
                                    label(for="rd-2") Доставка курьером по адресу
                            .input-inline
                                label Город
                                span.input
                                    input(type="text")
                            .input-inline
                                label Улица
                                span.input
                                    input(type="text")
                            .input-inline.input-multi
                                .input-multi_item
                                    label Дом
                                    span.input
                                        input(type="text")
                                .input-multi_item
                                    label Строение/корпус
                                    span.input
                                        input(type="text")
                            .input-inline.input-multi
                                .input-multi_item
                                    label Подъезд
                                    span.input
                                        input(type="text")
                                .input-multi_item
                                    label Этаж
                                    span.input
                                        input(type="text")
                            .input-inline.input-multi
                                .input-multi_item
                                    label Квартира
                                    span.input
                                        input(type="text")
                                .input-multi_item
                                    label Домофон
                                    span.input
                                        input(type="text")
                            .input-inline.input-textarea
                                label Комментарии
                                span.input
                                    textarea(type="text")
                            .input-inline.input-checkbox
                                input(type="checkbox" id="cb-1")
                                label(for="cb-1") Нужна установка
                            .input-inline.input-submit
                                .input
                                    input(type="submit" value="Оформить заказ").button
