Imp/layout/src/jade/src/card.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Карточка клиник
        section.section
            .container
                h2 дверь металлическая венге RSD-890 Венге
                .card-box
                    .card-box_preview
                        .card-box_img
                            img(src="img/content/ci-1.jpg")
                            .special Хит
                            .card-box_img_item
                                img(src="img/content/card-box-1.jpg")
                        .card-box_preview-content
                            .slider-product_summ 25 000 руб
                            a(href="").button-buy
                                .button-buy_icon
                                    .icon-buy
                                span В корзину
                            .card-box_list
                                a(href="").card-box_list-item
                                    span.card-box_list-icon
                                            .icon-ok
                                    span.card-box_list-text В наличии в интернет-магазине
                                a(href="").card-box_list-item
                                    span.card-box_list-icon
                                        .icon-ok
                                    span.card-box_list-text В наличии в магазине на Калужском шоссе
                                a(href="").card-box_list-item
                                    span.card-box_list-icon
                                        .icon-cancel
                                    span.card-box_list-text Нет в магазине на Киевском шоссе
                    h2 технические характеристики
                    .card-box_determination
                        dl
                            +dt('Размеры','860х3-5- мм')
                            +dt('Толщина металла','2 мм')
                            +dt('Открывание','Наружное левое и правое')
                            +dt('Наружная отделка','Фрезированная панель')
                            +dt('Порошковое покрытие','&nbsp;')
                            +dt('Внутренняя отделка','Фрезированная панель МДФ 12 мм Венге')
                            +dt('Уплотнитель','2 контура тип D')
                        dl
                            +dt('Внутреннее заполнение','&nbsp;')
                            +dt('Минеральаня вата','&nbsp;')
                            +dt('Петли','2 шт.')
                            +dt('Основной замок','KALE 26')
                            +dt('Дополнительный замок','KALE235 уилиндровый вертушка')
                            +dt('Задвижка','Задвижка')
                            +dt('Глазщок','Задвижка')
                h2 Фурнитура
                .product-box
                    +product_item('prod-1.jpg','Дверь металлическая','Сицилия','25 000 руб')
                    +product_item('prod-2.jpg','Дверь металлическая','Сицилия','25 000 руб')
                    +product_item('prod-3.jpg','Дверь металлическая','Сицилия','25 000 руб')
                    +product_item('prod-4.jpg','Дверь металлическая','Сицилия','25 000 руб')
        section.section.section-gray
            .container
                h2 похожие двери
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')

Imp/layout/build/card.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ImperiaDoors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/sprite.css">
    <!--meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")-->
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="container header-top_box">
          <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
          <div class="schedule">
            <div class="schedule_icon">
              <div class="icon-clock"></div>
            </div>
            <div class="schedule_text">Пн-Вс с 9:00 до 21:00,доставка без выходных</div>
          </div>
          <div class="search">
            <div class="search_input">
              <input type="text" placeholder="Поиск по сайту">
            </div>
            <div class="search_icon">
              <div class="icon-search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container header-middle_box"><a href="" class="logo"><img alt="" src="img/logo.png"></a>
          <div class="header-callback">
            <div class="header-callback_number">+7 (499) 281 63 21</div>
            <div class="header-callback_text">Москва, 41 км МКАД, <br/> рынок Мельница</div>
            <div data-popup-open="#popup-callback" class="callback button">
              <div class="callback_icon">
                <div class="icon-phone"></div>
              </div>
              <div class="callback_text">Обратный звонок</div>
            </div><a data-popup-open="#popup-size" class="button button-yellow">Бесплатный вызов замерщика</a>
          </div>
          <div class="header-info">
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-1"></div>
              </div>
              <div class="header-info_text">Свободная <br/> парковка</div>
            </div>
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-2"></div>
              </div>
              <div class="header-info_text">Лучшая выставка всех <br/> брендов <strong>1500 образцов</strong></div>
            </div>
          </div><a href="" class="card">
            <div class="card_icon">
              <div class="icon-card"></div>
            </div>
            <div class="card_content">
              <div class="card_head">Ваша<br/> корзина</div>
              <div class="card_count">3 товара</div>
              <div class="card_summ">на сумму 5000 р</div>
            </div></a>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container header-bottom_box">
          <div class="second-nav">
            <div class="second-nav_box"><a href="" class="second-nav_item">Входные двери</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Металические <br/>двери</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Двери с художественной <br/> ковкой</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Декоративные панели <br/> для в ходных дверей</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Межкомнатные двери</a></div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Фурнитура</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные ручки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные замки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные петли</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Строительные двери</a></div>
          </div>
          <div class="brand-select">
            <div class="brand-select_item">
              <div class="brand-select_text">Производители</div>
              <div class="brand-select_img"></div>
            </div>
            <div class="brand-select_icon">
              <div class="icon-arrow-down"></div>
            </div>
            <div class="brand-select_dropdown"><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a></div>
          </div>
          <div class="button button-special">спецпредложениЯ</div>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <div class="container">
          <div class="bc-wrap">
            <ul class="bc">
              <li class="bc-item"><a href="/">Главная</a></li>
              <li class="bc-item"><a href="/">Каталог</a></li>
              <li class="bc-item"><a href="/">Съемочная техника</a></li>
              <li class="bc-item">Карточка клиник</li>
            </ul>
          </div>
        </div>
        <section class="section">
          <div class="container">
            <h2>дверь металлическая венге RSD-890 Венге</h2>
            <div class="card-box">
              <div class="card-box_preview">
                <div class="card-box_img"><img src="img/content/ci-1.jpg">
                  <div class="special">Хит</div>
                  <div class="card-box_img_item"><img src="img/content/card-box-1.jpg"></div>
                </div>
                <div class="card-box_preview-content">
                  <div class="slider-product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                  <div class="card-box_list"><a href="" class="card-box_list-item"><span class="card-box_list-icon">
                        <div class="icon-ok"></div></span><span class="card-box_list-text">В наличии в интернет-магазине</span></a><a href="" class="card-box_list-item"><span class="card-box_list-icon">
                        <div class="icon-ok"></div></span><span class="card-box_list-text">В наличии в магазине на Калужском шоссе</span></a><a href="" class="card-box_list-item"><span class="card-box_list-icon">
                        <div class="icon-cancel"></div></span><span class="card-box_list-text">Нет в магазине на Киевском шоссе</span></a></div>
                </div>
              </div>
              <h2>технические характеристики</h2>
              <div class="card-box_determination">
                <dl>
                  <dt>Размеры</dt>
                  <dd>860х3-5- мм</dd>
                  <dt>Толщина металла</dt>
                  <dd>2 мм</dd>
                  <dt>Открывание</dt>
                  <dd>Наружное левое и правое</dd>
                  <dt>Наружная отделка</dt>
                  <dd>Фрезированная панель</dd>
                  <dt>Порошковое покрытие</dt>
                  <dd>&nbsp;</dd>
                  <dt>Внутренняя отделка</dt>
                  <dd>Фрезированная панель МДФ 12 мм Венге</dd>
                  <dt>Уплотнитель</dt>
                  <dd>2 контура тип D</dd>
                </dl>
                <dl>
                  <dt>Внутреннее заполнение</dt>
                  <dd>&nbsp;</dd>
                  <dt>Минеральаня вата</dt>
                  <dd>&nbsp;</dd>
                  <dt>Петли</dt>
                  <dd>2 шт.</dd>
                  <dt>Основной замок</dt>
                  <dd>KALE 26</dd>
                  <dt>Дополнительный замок</dt>
                  <dd>KALE235 уилиндровый вертушка</dd>
                  <dt>Задвижка</dt>
                  <dd>Задвижка</dd>
                  <dt>Глазщок</dt>
                  <dd>Задвижка</dd>
                </dl>
              </div>
            </div>
            <h2>Фурнитура</h2>
            <div class="product-box">
              <div class="product_item">
                <div class="product_img"><img alt="" src="img/content/prod-1.jpg"/>
                </div><a href="" class="product_title">Дверь металлическая</a>
                <div class="product_text">Сицилия</div>
                <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                  <div class="button-buy_icon">
                    <div class="icon-buy"></div>
                  </div><span>В корзину</span></a>
              </div>
              <div class="product_item">
                <div class="product_img"><img alt="" src="img/content/prod-2.jpg"/>
                </div><a href="" class="product_title">Дверь металлическая</a>
                <div class="product_text">Сицилия</div>
                <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                  <div class="button-buy_icon">
                    <div class="icon-buy"></div>
                  </div><span>В корзину</span></a>
              </div>
              <div class="product_item">
                <div class="product_img"><img alt="" src="img/content/prod-3.jpg"/>
                </div><a href="" class="product_title">Дверь металлическая</a>
                <div class="product_text">Сицилия</div>
                <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                  <div class="button-buy_icon">
                    <div class="icon-buy"></div>
                  </div><span>В корзину</span></a>
              </div>
              <div class="product_item">
                <div class="product_img"><img alt="" src="img/content/prod-4.jpg"/>
                </div><a href="" class="product_title">Дверь металлическая</a>
                <div class="product_text">Сицилия</div>
                <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                  <div class="button-buy_icon">
                    <div class="icon-buy"></div>
                  </div><span>В корзину</span></a>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-gray">
          <div class="container">
            <h2>похожие двери</h2>
            <div class="slider-box slider-product">
              <div class="owl-carousel">
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>Хит</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>новинка</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container footer_box">
        <div class="copyright">
          <p>2016 © Интернет магазин “Империя дверей”</p>
        </div>
        <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h3>обраТный звонок</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <input type="radio" name="radio" id="rd-1">
                <label for="rd-1">Сегодня</label></span><span class="radio">
                <input type="radio" name="radio" id="rd-2">
                <label for="rd-2">Завтра</label></span><span class="select">
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select><span class="icon-arrow-down"></span></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-size" class="popup-item">
        <div class="popup-heading">
          <h3>закажите бесплтаный замер</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div>
            <div class="input-line"><span class="input">
                <input type="email" placeholder="E-mail"></span></div>
            <div class="input-line"><span class="input">
                <textarea placeholder="Адрес" class="adress-input"></textarea></span></div>
            <div class="input-line"><span class="textarea">
                <textarea placeholder="Комментарий"></textarea></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-callback" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вами завтра в 13:00 по телефону</span>
          <div class="popup-number">8 800 345 33 55</div>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-size" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вамипо телефону, чтобы<br/> согласовать удобное время для визита замерщика</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>
