Imp/layout/src/jade/src/catalog.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Цифровые фотоапараты
        section.section
            .container
                h2 входные двери
                .catalog-box
                    aside
                        .aside
                            .aside_head Категории
                            .aside_category
                                a(href="").link-normal Метилические двери
                                .link-normal.active Двери с художественной ковкой
                                a(href="").link-normal Декоративные панели
                            .aside_head Цвета
                            .aside_color
                                input(type="checkbox" name="color-1" id="color-1" checked).aside_color-item.color-1
                                input(type="checkbox" name="color-2" id="color-2").aside_color-item.color-2
                                input(type="checkbox" name="color-3" id="color-3").aside_color-item.color-3
                                input(type="checkbox" name="color-4" id="color-4").aside_color-item.color-4
                                input(type="checkbox" name="color-5" id="color-5").aside_color-item.color-5
                                input(type="checkbox" name="color-6" id="color-6").aside_color-item.color-6
                                input(type="checkbox" name="color-7" id="color-7").aside_color-item.color-7
                                input(type="checkbox" name="color-8" id="color-8").aside_color-item.color-8
                                input(type="checkbox" name="color-9" id="color-9").aside_color-item.color-9
                                input(type="checkbox" name="color-10" id="color-10").aside_color-item.color-10
                                input(type="checkbox" name="color-11" id="color-11").aside_color-item.color-11
                                input(type="checkbox" name="color-12" id="color-12").aside_color-item.color-12
                            .aside_head Стили дверей
                            .aside_check
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-1")
                                    label(for="cb-1") Классика
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-2")
                                    label(for="cb-2") Hi-tech
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-3")
                                    label(for="cb-3") Модерн
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-4")
                                    label(for="cb-4") Раздвижные двери
                            .aside_head Цена
                            .aside_check
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-5")
                                    label(for="cb-5") до 5 000 руб
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-6")
                                    label(for="cb-6") 5 000-15 000 руб
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-7")
                                    label(for="cb-7") от 15 000 руб и выше
                            .aside_head Тип
                            .aside_check
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-8")
                                    label(for="cb-8") Глухая
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-9")
                                    label(for="cb-9") С зеркалом
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-10")
                                    label(for="cb-10") Остекленная
                            .aside_head Фабрика
                            .aside_check.aside_check-multi
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-11")
                                    label(for="cb-11") Albero
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-12")
                                    label(for="cb-12") Status
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-13")
                                    label(for="cb-13") ALFA
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-14")
                                    label(for="cb-14") Valdo
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-15")
                                    label(for="cb-15") Art Deko
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-16")
                                    label(for="cb-16") Valdo
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-17")
                                    label(for="cb-17") Luxor
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-18")
                                    label(for="cb-18") OKA
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-19")
                                    label(for="cb-19") M-doors
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-20")
                                    label(for="cb-20") Потенциал
                                .aside_check-item
                                    input(type="checkbox" name="cb-1" id="cb-21")
                                    label(for="cb-21") RADA
                        a(href="").spec-product
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','спецпредложение',"buttonOff")
                    .catalog-box_catalog
                        .callback-box
                            .callback-box_img
                                img(src="img/content/cbc-1.jpg")
                            .callback-box_text
                                h1 Затрудняетесь с выбором?
                                h1.light Проконсультируем по телефону
                            .button.button-border-black Заказать звонок
                        .catalog-box_sort
                            span Сортировать по
                            a(href="").link Популярности
                            span.active По цене
                        .catalog-box_content
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                            +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +paginator

Imp/layout/build/catalog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ImperiaDoors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/sprite.css">
    <!--meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")-->
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="container header-top_box">
          <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
          <div class="schedule">
            <div class="schedule_icon">
              <div class="icon-clock"></div>
            </div>
            <div class="schedule_text">Пн-Вс с 9:00 до 21:00,доставка без выходных</div>
          </div>
          <div class="search">
            <div class="search_input">
              <input type="text" placeholder="Поиск по сайту">
            </div>
            <div class="search_icon">
              <div class="icon-search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container header-middle_box"><a href="" class="logo"><img alt="" src="img/logo.png"></a>
          <div class="header-callback">
            <div class="header-callback_number">+7 (499) 281 63 21</div>
            <div class="header-callback_text">Москва, 41 км МКАД, <br/> рынок Мельница</div>
            <div data-popup-open="#popup-callback" class="callback button">
              <div class="callback_icon">
                <div class="icon-phone"></div>
              </div>
              <div class="callback_text">Обратный звонок</div>
            </div><a data-popup-open="#popup-size" class="button button-yellow">Бесплатный вызов замерщика</a>
          </div>
          <div class="header-info">
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-1"></div>
              </div>
              <div class="header-info_text">Свободная <br/> парковка</div>
            </div>
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-2"></div>
              </div>
              <div class="header-info_text">Лучшая выставка всех <br/> брендов <strong>1500 образцов</strong></div>
            </div>
          </div><a href="" class="card">
            <div class="card_icon">
              <div class="icon-card"></div>
            </div>
            <div class="card_content">
              <div class="card_head">Ваша<br/> корзина</div>
              <div class="card_count">3 товара</div>
              <div class="card_summ">на сумму 5000 р</div>
            </div></a>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container header-bottom_box">
          <div class="second-nav">
            <div class="second-nav_box"><a href="" class="second-nav_item">Входные двери</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Металические <br/>двери</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Двери с художественной <br/> ковкой</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Декоративные панели <br/> для в ходных дверей</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Межкомнатные двери</a></div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Фурнитура</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные ручки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные замки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные петли</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Строительные двери</a></div>
          </div>
          <div class="brand-select">
            <div class="brand-select_item">
              <div class="brand-select_text">Производители</div>
              <div class="brand-select_img"></div>
            </div>
            <div class="brand-select_icon">
              <div class="icon-arrow-down"></div>
            </div>
            <div class="brand-select_dropdown"><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a></div>
          </div>
          <div class="button button-special">спецпредложениЯ</div>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <div class="container">
          <div class="bc-wrap">
            <ul class="bc">
              <li class="bc-item"><a href="/">Главная</a></li>
              <li class="bc-item"><a href="/">Каталог</a></li>
              <li class="bc-item"><a href="/">Съемочная техника</a></li>
              <li class="bc-item">Цифровые фотоапараты</li>
            </ul>
          </div>
        </div>
        <section class="section">
          <div class="container">
            <h2>входные двери</h2>
            <div class="catalog-box">
              <aside>
                <div class="aside">
                  <div class="aside_head">Категории</div>
                  <div class="aside_category"><a href="" class="link-normal">Метилические двери</a>
                    <div class="link-normal active">Двери с художественной ковкой</div><a href="" class="link-normal">Декоративные панели</a>
                  </div>
                  <div class="aside_head">Цвета</div>
                  <div class="aside_color">
                    <input type="checkbox" name="color-1" id="color-1" checked class="aside_color-item color-1">
                    <input type="checkbox" name="color-2" id="color-2" class="aside_color-item color-2">
                    <input type="checkbox" name="color-3" id="color-3" class="aside_color-item color-3">
                    <input type="checkbox" name="color-4" id="color-4" class="aside_color-item color-4">
                    <input type="checkbox" name="color-5" id="color-5" class="aside_color-item color-5">
                    <input type="checkbox" name="color-6" id="color-6" class="aside_color-item color-6">
                    <input type="checkbox" name="color-7" id="color-7" class="aside_color-item color-7">
                    <input type="checkbox" name="color-8" id="color-8" class="aside_color-item color-8">
                    <input type="checkbox" name="color-9" id="color-9" class="aside_color-item color-9">
                    <input type="checkbox" name="color-10" id="color-10" class="aside_color-item color-10">
                    <input type="checkbox" name="color-11" id="color-11" class="aside_color-item color-11">
                    <input type="checkbox" name="color-12" id="color-12" class="aside_color-item color-12">
                  </div>
                  <div class="aside_head">Стили дверей</div>
                  <div class="aside_check">
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-1">
                      <label for="cb-1">Классика</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-2">
                      <label for="cb-2">Hi-tech</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-3">
                      <label for="cb-3">Модерн</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-4">
                      <label for="cb-4">Раздвижные двери</label>
                    </div>
                  </div>
                  <div class="aside_head">Цена</div>
                  <div class="aside_check">
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-5">
                      <label for="cb-5">до 5 000 руб</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-6">
                      <label for="cb-6">5 000-15 000 руб</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-7">
                      <label for="cb-7">от 15 000 руб и выше</label>
                    </div>
                  </div>
                  <div class="aside_head">Тип</div>
                  <div class="aside_check">
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-8">
                      <label for="cb-8">Глухая</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-9">
                      <label for="cb-9">С зеркалом</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-10">
                      <label for="cb-10">Остекленная</label>
                    </div>
                  </div>
                  <div class="aside_head">Фабрика</div>
                  <div class="aside_check aside_check-multi">
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-11">
                      <label for="cb-11">Albero</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-12">
                      <label for="cb-12">Status</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-13">
                      <label for="cb-13">ALFA</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-14">
                      <label for="cb-14">Valdo</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-15">
                      <label for="cb-15">Art Deko</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-16">
                      <label for="cb-16">Valdo</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-17">
                      <label for="cb-17">Luxor</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-18">
                      <label for="cb-18">OKA</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-19">
                      <label for="cb-19">M-doors</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-20">
                      <label for="cb-20">Потенциал</label>
                    </div>
                    <div class="aside_check-item">
                      <input type="checkbox" name="cb-1" id="cb-21">
                      <label for="cb-21">RADA</label>
                    </div>
                  </div>
                </div><a href="" class="spec-product">
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>спецпредложение</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div>
                  </div></a>
              </aside>
              <div class="catalog-box_catalog">
                <div class="callback-box">
                  <div class="callback-box_img"><img src="img/content/cbc-1.jpg"></div>
                  <div class="callback-box_text">
                    <h1>Затрудняетесь с выбором?</h1>
                    <h1 class="light">Проконсультируем по телефону</h1>
                  </div>
                  <div class="button button-border-black">Заказать звонок</div>
                </div>
                <div class="catalog-box_sort"><span>Сортировать по</span><a href="" class="link">Популярности</a><span class="active">По цене</span></div>
                <div class="catalog-box_content">
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                  <div class="product_item">
                    <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                      <div class="special"><span>-15%</span></div>
                    </div><a href="" class="product_title">Дверь металлическая</a>
                    <div class="product_text">Сицилия</div>
                    <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                      <div class="button-buy_icon">
                        <div class="icon-buy"></div>
                      </div><span>В корзину</span></a>
                  </div>
                </div>
                <div class="paginator"><a href="" class="paginator_prev">Предыдущая</a>
                  <div class="paginator_item active">1</div><a href="" class="paginator_item">2</a><a href="" class="paginator_item">3</a><a href="" class="paginator_item">4</a><a href="" class="paginator_item">5</a><a href="" class="paginator_next">Следующая</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container footer_box">
        <div class="copyright">
          <p>2016 © Интернет магазин “Империя дверей”</p>
        </div>
        <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h3>обраТный звонок</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <input type="radio" name="radio" id="rd-1">
                <label for="rd-1">Сегодня</label></span><span class="radio">
                <input type="radio" name="radio" id="rd-2">
                <label for="rd-2">Завтра</label></span><span class="select">
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select><span class="icon-arrow-down"></span></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-size" class="popup-item">
        <div class="popup-heading">
          <h3>закажите бесплтаный замер</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div>
            <div class="input-line"><span class="input">
                <input type="email" placeholder="E-mail"></span></div>
            <div class="input-line"><span class="input">
                <textarea placeholder="Адрес" class="adress-input"></textarea></span></div>
            <div class="input-line"><span class="textarea">
                <textarea placeholder="Комментарий"></textarea></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-callback" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вами завтра в 13:00 по телефону</span>
          <div class="popup-number">8 800 345 33 55</div>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-size" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вамипо телефону, чтобы<br/> согласовать удобное время для визита замерщика</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>
