Imp/layout/src/jade/src/index.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        section.section-head.section
           .container
               .slider-box.slider-main
                   .owl-carousel
                       .slider-main_item
                           .slider-main_img
                               img( alt="" src="img/content/sm-1.jpg")
                               .special
                                   span спецпредложение
                           .slider-main_content
                               .slider-main_head
                                   h1 Межкомнатные двери
                                   h1.light с установкой под ключ
                               .slider-main_text
                                   p Магазин дверей, предлагающий широкий выбор деревянных <br/>межкомнатных моделей по низким ценам. Для вас - удобная <br/>система поиска по сайту и грамотные консультации <br/>специалистов!
                                   .button.button-border Перейти в каталог
                       .slider-main_item
                           .slider-main_img
                               img( alt=""  src="img/content/sm-1.jpg")
                               .special
                                   span Скидка
                           .slider-main_content
                               .slider-main_head
                                   h1 Межкомнатные
                                   h1.light с установкой
                               .slider-main_text
                                   p Магазин дверей, предла
                                   .button.button-border Перейти в каталог
               .product-info
                   +product-info_item('двери оптом','от лучших брендов','pi-1.jpg')
                   +product-info_item('75 брендов','75 брендов','pi-2.jpg')
                   +product-info_item('доставка дверей','из наличия в день оплаты','pi-3.jpg')
               .service-box
                   +service-box_item('si-1.png','Бесплатный <br/>замер')
                   +service-box_item('si-2.png','Доставка <br/> по Москве и области ')
                   +service-box_item('si-3.png','Профессиональная <br/>установка')
                   +service-box_item('si-4.png','Гарантия <br/>качества')
        section.section
            .container
                h2 самые популярные входные двери
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                h2 САМЫЕ ПОПУЛЯРНЫЕ МЕЖКОМНАТНЫЕ ДВЕРИ
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
        section.section.section-gray
            .container
                h2 недорогие межкомнатные двери
                .slider-box.slider-product
                    .owl-carousel
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','Хит')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','новинка')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
                        +product_item('spi-1.jpg','Дверь металлическая','Сицилия','25 000 руб','-15%')
        section.section
            .container
                .info-box
                    .info-box_img
                        img( alt="" src="img/content/ib-1.png")
                    .info-box_content
                        h1 о магазине
                        p Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.
                        p Каталог межкомнатных дверей и фурнитуры удобно структурирован. Пользователям не составит труда подобрать нужный вариант двери. Для этого вся продукция поделена по типу, стилю, дизайну и стоимости. В каждом разделе интернет-магазина собраны двери различных производителей, но благодаря удобному функционалу выбрать нужную модель очень просто. Продажа дверей в Москве осуществляется со склада. Также можно заказать доставку и установку деревянных дверей.
                        a(href="").link Читать полностью
        section.section
            .container
                .article-box
                    +article-box_item('ai-1.jpg','Открылся новый склад магазин <br/>восзде МКАД','Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. ','22 сентября')
                    +article-box_item('ai-2.jpg','Открылся новый склад магазин <br/>восзде МКАД','Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. ','12 сентября')
                    +article-box_item('ai-3.jpg','Открылся новый склад магазин <br/>восзде МКАД','Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. ','04 сентября')
        section.section
            .container
                .map-box
                    #map
                    .map-box_info
                        h2 наши магазины
                        .map-box_box
                            .map-box_item#map-1
                                .map-box_img
                                    .icon-map
                                .map-box_content
                                    .map-box_text
                                        p Павильон А7/4 <br/> Москва, Калужское <br/>шоссе д. 4 стр. 3
                                    .map-box_number
                                        p +7 (499) 281 63 21
                            .map-box_item#map-2
                                .map-box_img
                                    .icon-map
                                .map-box_content
                                    .map-box_text
                                        p Павильон А16/1 <br/> 41 км МКАД, рынок <br/>Славянский мир, <br/> Павильон А16/1
                                    .map-box_number
                                        p +7 (499) 281 63 21
        section.section.section-white
            .container
                .form-box
                    .form-box_info
                        h1 закажите замерщика беспЛатно
                        .form-box_number +7 (499) 281 63 21
                    form
                        .form-box_input
                            .input-line
                                .input
                                    input(type="text" placeholder="Ваше имя")
                            .input-line
                                .input
                                    input(type="text" placeholder="E-mail")
                            .input-line
                                .input
                                    input(type="text" placeholder="Телефон")
                            .input-line.input-submit
                                input(type="submit" value="ЗАКАЗАТЬ").button
                    .form-box_img
                        img( alt="" src="img/content/fb-1.png")

Imp/layout/build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ImperiaDoors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/sprite.css">
    <!--meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")-->
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="container header-top_box">
          <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
          <div class="schedule">
            <div class="schedule_icon">
              <div class="icon-clock"></div>
            </div>
            <div class="schedule_text">Пн-Вс с 9:00 до 21:00,доставка без выходных</div>
          </div>
          <div class="search">
            <div class="search_input">
              <input type="text" placeholder="Поиск по сайту">
            </div>
            <div class="search_icon">
              <div class="icon-search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container header-middle_box"><a href="" class="logo"><img alt="" src="img/logo.png"></a>
          <div class="header-callback">
            <div class="header-callback_number">+7 (499) 281 63 21</div>
            <div class="header-callback_text">Москва, 41 км МКАД, <br/> рынок Мельница</div>
            <div data-popup-open="#popup-callback" class="callback button">
              <div class="callback_icon">
                <div class="icon-phone"></div>
              </div>
              <div class="callback_text">Обратный звонок</div>
            </div><a data-popup-open="#popup-size" class="button button-yellow">Бесплатный вызов замерщика</a>
          </div>
          <div class="header-info">
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-1"></div>
              </div>
              <div class="header-info_text">Свободная <br/> парковка</div>
            </div>
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-2"></div>
              </div>
              <div class="header-info_text">Лучшая выставка всех <br/> брендов <strong>1500 образцов</strong></div>
            </div>
          </div><a href="" class="card">
            <div class="card_icon">
              <div class="icon-card"></div>
            </div>
            <div class="card_content">
              <div class="card_head">Ваша<br/> корзина</div>
              <div class="card_count">3 товара</div>
              <div class="card_summ">на сумму 5000 р</div>
            </div></a>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container header-bottom_box">
          <div class="second-nav">
            <div class="second-nav_box"><a href="" class="second-nav_item">Входные двери</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Металические <br/>двери</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Двери с художественной <br/> ковкой</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Декоративные панели <br/> для в ходных дверей</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Межкомнатные двери</a></div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Фурнитура</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные ручки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные замки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные петли</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Строительные двери</a></div>
          </div>
          <div class="brand-select">
            <div class="brand-select_item">
              <div class="brand-select_text">Производители</div>
              <div class="brand-select_img"></div>
            </div>
            <div class="brand-select_icon">
              <div class="icon-arrow-down"></div>
            </div>
            <div class="brand-select_dropdown"><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a></div>
          </div>
          <div class="button button-special">спецпредложениЯ</div>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <section class="section-head section">
          <div class="container">
            <div class="slider-box slider-main">
              <div class="owl-carousel">
                <div class="slider-main_item">
                  <div class="slider-main_img"><img alt="" src="img/content/sm-1.jpg">
                    <div class="special"><span>спецпредложение</span></div>
                  </div>
                  <div class="slider-main_content">
                    <div class="slider-main_head">
                      <h1>Межкомнатные двери</h1>
                      <h1 class="light">с установкой под ключ</h1>
                    </div>
                    <div class="slider-main_text">
                      <p>Магазин дверей, предлагающий широкий выбор деревянных <br/>межкомнатных моделей по низким ценам. Для вас - удобная <br/>система поиска по сайту и грамотные консультации <br/>специалистов!</p>
                      <div class="button button-border">Перейти в каталог</div>
                    </div>
                  </div>
                </div>
                <div class="slider-main_item">
                  <div class="slider-main_img"><img alt="" src="img/content/sm-1.jpg">
                    <div class="special"><span>Скидка</span></div>
                  </div>
                  <div class="slider-main_content">
                    <div class="slider-main_head">
                      <h1>Межкомнатные</h1>
                      <h1 class="light">с установкой</h1>
                    </div>
                    <div class="slider-main_text">
                      <p>Магазин дверей, предла</p>
                      <div class="button button-border">Перейти в каталог</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-info"><a href="" class="product-info_item"><span class="product-info_content"><span class="product-info_head">двери оптом</span><span class="product-info_text">от лучших брендов</span></span><span class="product-info_img"><img alt="" src="img/content/pi-1.jpg"/></span></a><a href="" class="product-info_item"><span class="product-info_content"><span class="product-info_head">75 брендов</span><span class="product-info_text">75 брендов</span></span><span class="product-info_img"><img alt="" src="img/content/pi-2.jpg"/></span></a><a href="" class="product-info_item"><span class="product-info_content"><span class="product-info_head">доставка дверей</span><span class="product-info_text">из наличия в день оплаты</span></span><span class="product-info_img"><img alt="" src="img/content/pi-3.jpg"/></span></a>
            </div>
            <div class="service-box">
              <div class="service-box_item">
                <div class="service-box_img"><img alt="" src="img/content/si-1.png"/></div>
                <div class="service-box_text">Бесплатный <br/>замер</div>
              </div>
              <div class="service-box_item">
                <div class="service-box_img"><img alt="" src="img/content/si-2.png"/></div>
                <div class="service-box_text">Доставка <br/> по Москве и области </div>
              </div>
              <div class="service-box_item">
                <div class="service-box_img"><img alt="" src="img/content/si-3.png"/></div>
                <div class="service-box_text">Профессиональная <br/>установка</div>
              </div>
              <div class="service-box_item">
                <div class="service-box_img"><img alt="" src="img/content/si-4.png"/></div>
                <div class="service-box_text">Гарантия <br/>качества</div>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <h2>самые популярные входные двери</h2>
            <div class="slider-box slider-product">
              <div class="owl-carousel">
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>Хит</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>новинка</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
              </div>
            </div>
            <h2>САМЫЕ ПОПУЛЯРНЫЕ МЕЖКОМНАТНЫЕ ДВЕРИ</h2>
            <div class="slider-box slider-product">
              <div class="owl-carousel">
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>Хит</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>новинка</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-gray">
          <div class="container">
            <h2>недорогие межкомнатные двери</h2>
            <div class="slider-box slider-product">
              <div class="owl-carousel">
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>Хит</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>новинка</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
                <div class="product_item">
                  <div class="product_img"><img alt="" src="img/content/spi-1.jpg"/>
                    <div class="special"><span>-15%</span></div>
                  </div><a href="" class="product_title">Дверь металлическая</a>
                  <div class="product_text">Сицилия</div>
                  <div class="product_summ">25 000 руб</div><a href="" class="button-buy">
                    <div class="button-buy_icon">
                      <div class="icon-buy"></div>
                    </div><span>В корзину</span></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="info-box">
              <div class="info-box_img"><img alt="" src="img/content/ib-1.png"></div>
              <div class="info-box_content">
                <h1>о магазине</h1>
                <p>Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставке и установке дверей под ключ. Оплатить покупку легко и просто.</p>
                <p>Каталог межкомнатных дверей и фурнитуры удобно структурирован. Пользователям не составит труда подобрать нужный вариант двери. Для этого вся продукция поделена по типу, стилю, дизайну и стоимости. В каждом разделе интернет-магазина собраны двери различных производителей, но благодаря удобному функционалу выбрать нужную модель очень просто. Продажа дверей в Москве осуществляется со склада. Также можно заказать доставку и установку деревянных дверей.</p><a href="" class="link">Читать полностью</a>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="article-box">
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-1.jpg"/>
                  <div class="special"><span>22 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин <br/>восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. </p>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-2.jpg"/>
                  <div class="special"><span>12 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин <br/>восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. </p>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-3.jpg"/>
                  <div class="special"><span>04 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин <br/>восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнат-ные двери в Москве от лучших производителей, модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантов исполнения. </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
            <div class="map-box">
              <div id="map"></div>
              <div class="map-box_info">
                <h2>наши магазины</h2>
                <div class="map-box_box">
                  <div id="map-1" class="map-box_item">
                    <div class="map-box_img">
                      <div class="icon-map"></div>
                    </div>
                    <div class="map-box_content">
                      <div class="map-box_text">
                        <p>Павильон А7/4 <br/> Москва, Калужское <br/>шоссе д. 4 стр. 3</p>
                      </div>
                      <div class="map-box_number">
                        <p>+7 (499) 281 63 21</p>
                      </div>
                    </div>
                  </div>
                  <div id="map-2" class="map-box_item">
                    <div class="map-box_img">
                      <div class="icon-map"></div>
                    </div>
                    <div class="map-box_content">
                      <div class="map-box_text">
                        <p>Павильон А16/1 <br/> 41 км МКАД, рынок <br/>Славянский мир, <br/> Павильон А16/1</p>
                      </div>
                      <div class="map-box_number">
                        <p>+7 (499) 281 63 21</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-white">
          <div class="container">
            <div class="form-box">
              <div class="form-box_info">
                <h1>закажите замерщика беспЛатно</h1>
                <div class="form-box_number">+7 (499) 281 63 21</div>
              </div>
              <form>
                <div class="form-box_input">
                  <div class="input-line">
                    <div class="input">
                      <input type="text" placeholder="Ваше имя">
                    </div>
                  </div>
                  <div class="input-line">
                    <div class="input">
                      <input type="text" placeholder="E-mail">
                    </div>
                  </div>
                  <div class="input-line">
                    <div class="input">
                      <input type="text" placeholder="Телефон">
                    </div>
                  </div>
                  <div class="input-line input-submit">
                    <input type="submit" value="ЗАКАЗАТЬ" class="button">
                  </div>
                </div>
              </form>
              <div class="form-box_img"><img alt="" src="img/content/fb-1.png"></div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container footer_box">
        <div class="copyright">
          <p>2016 © Интернет магазин “Империя дверей”</p>
        </div>
        <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h3>обраТный звонок</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <input type="radio" name="radio" id="rd-1">
                <label for="rd-1">Сегодня</label></span><span class="radio">
                <input type="radio" name="radio" id="rd-2">
                <label for="rd-2">Завтра</label></span><span class="select">
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select><span class="icon-arrow-down"></span></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-size" class="popup-item">
        <div class="popup-heading">
          <h3>закажите бесплтаный замер</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div>
            <div class="input-line"><span class="input">
                <input type="email" placeholder="E-mail"></span></div>
            <div class="input-line"><span class="input">
                <textarea placeholder="Адрес" class="adress-input"></textarea></span></div>
            <div class="input-line"><span class="textarea">
                <textarea placeholder="Комментарий"></textarea></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-callback" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вами завтра в 13:00 по телефону</span>
          <div class="popup-number">8 800 345 33 55</div>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-size" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вамипо телефону, чтобы<br/> согласовать удобное время для визита замерщика</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>
