Imp/layout/src/jade/src/news.jade
extends ../inc/layout
include ../inc/var

block content
    .wrapper
        .container
            .bc-wrap
                ul.bc
                    li.bc-item
                        a(href="/") Главная
                    li.bc-item
                        a(href="/") Каталог
                    li.bc-item
                        a(href="/") Съемочная техника
                    li.bc-item Новости
        section.section
            .container
                h2 новости
                .article-box.column
                    +article-box_item('ai-2.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ','12 сентября')
                    +article-box_item('ai-1.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ','12 сентября')
                    +article-box_item('ai-3.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ','12 сентября')
                    +article-box_item('ai-2.jpg','Открылся новый склад магазин восзде МКАД','Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. ','12 сентября')

                +paginator

Imp/layout/build/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ImperiaDoors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="img/sprite.css">
    <!--meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")-->
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="container header-top_box">
          <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
          <div class="schedule">
            <div class="schedule_icon">
              <div class="icon-clock"></div>
            </div>
            <div class="schedule_text">Пн-Вс с 9:00 до 21:00,доставка без выходных</div>
          </div>
          <div class="search">
            <div class="search_input">
              <input type="text" placeholder="Поиск по сайту">
            </div>
            <div class="search_icon">
              <div class="icon-search"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-middle">
        <div class="container header-middle_box"><a href="" class="logo"><img alt="" src="img/logo.png"></a>
          <div class="header-callback">
            <div class="header-callback_number">+7 (499) 281 63 21</div>
            <div class="header-callback_text">Москва, 41 км МКАД, <br/> рынок Мельница</div>
            <div data-popup-open="#popup-callback" class="callback button">
              <div class="callback_icon">
                <div class="icon-phone"></div>
              </div>
              <div class="callback_text">Обратный звонок</div>
            </div><a data-popup-open="#popup-size" class="button button-yellow">Бесплатный вызов замерщика</a>
          </div>
          <div class="header-info">
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-1"></div>
              </div>
              <div class="header-info_text">Свободная <br/> парковка</div>
            </div>
            <div class="header-info_item">
              <div class="header-info_icon">
                <div class="icon-hi-2"></div>
              </div>
              <div class="header-info_text">Лучшая выставка всех <br/> брендов <strong>1500 образцов</strong></div>
            </div>
          </div><a href="" class="card">
            <div class="card_icon">
              <div class="icon-card"></div>
            </div>
            <div class="card_content">
              <div class="card_head">Ваша<br/> корзина</div>
              <div class="card_count">3 товара</div>
              <div class="card_summ">на сумму 5000 р</div>
            </div></a>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container header-bottom_box">
          <div class="second-nav">
            <div class="second-nav_box"><a href="" class="second-nav_item">Входные двери</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Металические <br/>двери</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Двери с художественной <br/> ковкой</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Декоративные панели <br/> для в ходных дверей</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Межкомнатные двери</a></div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Фурнитура</a>
              <div class="second-nav_dropdown"><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные ручки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные замки</div></a><a href="" class="second-nav_dropdown_item">
                  <div class="second-nav_dropdown_img"><img alt="" src="img/content/sn.png"></div>
                  <div class="second-nav_dropdown_text">Дверные петли</div></a></div>
            </div>
            <div class="second-nav_box"><a href="" class="second-nav_item">Строительные двери</a></div>
          </div>
          <div class="brand-select">
            <div class="brand-select_item">
              <div class="brand-select_text">Производители</div>
              <div class="brand-select_img"></div>
            </div>
            <div class="brand-select_icon">
              <div class="icon-arrow-down"></div>
            </div>
            <div class="brand-select_dropdown"><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a><a href="" class="brand-select_item">
                <div class="brand-select_text">1</div>
                <div class="brand-select_img"></div></a></div>
          </div>
          <div class="button button-special">спецпредложениЯ</div>
        </div>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <div class="container">
          <div class="bc-wrap">
            <ul class="bc">
              <li class="bc-item"><a href="/">Главная</a></li>
              <li class="bc-item"><a href="/">Каталог</a></li>
              <li class="bc-item"><a href="/">Съемочная техника</a></li>
              <li class="bc-item">Новости</li>
            </ul>
          </div>
        </div>
        <section class="section">
          <div class="container">
            <h2>новости</h2>
            <div class="article-box column">
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-2.jpg"/>
                  <div class="special"><span>12 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. </p>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-1.jpg"/>
                  <div class="special"><span>12 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. </p>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-3.jpg"/>
                  <div class="special"><span>12 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. </p>
                  </div>
                </div>
              </article>
              <article class="article-box_item">
                <div class="article-box_img"><img alt="" src="img/content/ai-2.jpg"/>
                  <div class="special"><span>12 сентября</span></div>
                </div>
                <div class="article-box_content"><a href="" class="article-box_title">Открылся новый склад магазин восзде МКАД</a>
                  <div class="article-box_text">
                    <p>Вы всегда можете купить недорогие межкомнатные двери в Москве от лучших производителей,модели среднего и высокого ценового диапазона. В наличии деревянные двери различных вариантовисполнения. Интернет-магазином предоставляются профессиональные услуги по замеру, доставкеи установке дверей под ключ. Оплатить покупку легко и просто. </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="paginator"><a href="" class="paginator_prev">Предыдущая</a>
              <div class="paginator_item active">1</div><a href="" class="paginator_item">2</a><a href="" class="paginator_item">3</a><a href="" class="paginator_item">4</a><a href="" class="paginator_item">5</a><a href="" class="paginator_next">Следующая</a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container footer_box">
        <div class="copyright">
          <p>2016 © Интернет магазин “Империя дверей”</p>
        </div>
        <div class="main-nav"><a href="" class="main-nav_item">Магазины</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Как купить</a><a href="" class="main-nav_item">Сотрудничество</a><a href="" class="main-nav_item">Новости</a><a href="" class="main-nav_item">Статьи</a></div>
      </div>
    </footer>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="js/app.js"></script>
    <div class="popup-wrap fadable fading align-middle-box">
      <div id="popup-callback" class="popup-item">
        <div class="popup-heading">
          <h3>обраТный звонок</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div><span class="popup-text">Когда вам позвонить?</span>
            <div class="input-radio"><span class="radio">
                <input type="radio" name="radio" id="rd-1">
                <label for="rd-1">Сегодня</label></span><span class="radio">
                <input type="radio" name="radio" id="rd-2">
                <label for="rd-2">Завтра</label></span><span class="select">
                <select>
                  <option>12:00</option>
                  <option>11:00</option>
                  <option>09:00</option>
                </select><span class="icon-arrow-down"></span></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-size" class="popup-item">
        <div class="popup-heading">
          <h3>закажите бесплтаный замер</h3>
        </div>
        <div class="popup-content">
          <form>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваше имя"></span></div>
            <div class="input-line"><span class="input">
                <input type="text" placeholder="Ваш телефон"></span></div>
            <div class="input-line"><span class="input">
                <input type="email" placeholder="E-mail"></span></div>
            <div class="input-line"><span class="input">
                <textarea placeholder="Адрес" class="adress-input"></textarea></span></div>
            <div class="input-line"><span class="textarea">
                <textarea placeholder="Комментарий"></textarea></span></div>
            <div class="input-line input-submit">
              <input type="submit" value="Заказать" class="button">
            </div>
          </form>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-callback" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вами завтра в 13:00 по телефону</span>
          <div class="popup-number">8 800 345 33 55</div>
        </div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
      <div id="popup-thanks-size" class="popup-item popup-thanks">
        <div class="popup-heading">
          <h3>спасибо за ваще обращение!</h3>
        </div>
        <div class="popup-content"><span class="popup-text">Мы свяжемся с вамипо телефону, чтобы<br/> согласовать удобное время для визита замерщика</span></div><span data-popup-close="" class="icon icon-close icon-close-popup"></span>
      </div>
    </div>
  </body>
</html>
